#include <Arduino.h>

#ifndef WP_CONFIG_H
#define WP_CONFIG_H

struct MqttSwitch
{
    String switchName;
    String commandTopic;
    String statusTopic;
    String powerOnValue;
    String powerOffValue;
};

/////////////////// MAIN CONFIG OPTIONS ///////////////////

// Time settings
#define NTP_UTC_OFFSET_SECONDS 3600      // UTC+1
#define NTP_DAYLIGHT_OFFSET_SECONDS 3600 // 3600 for DST, 0 otherwise
#define NTP_SERVER_HOSTNAME "pool.ntp.org"

// BME280 Settings
#define SEALEVELPRESSURE_HPA (1013.25) // This changes with the weather :c
// TODO: Find a way to get this value using internet

// MQTT Settings
#define MQTT_CONNECT_COOLDOWN 2000
#define MQTT_TELEMETRY_INTERVAL_MS 5000
#define MQTT_QOS_LEVEL 2

// List of MQTT Switches, see MqttSwitch struct above
static const MqttSwitch switches[] = {
    {"Switch 1", "cmnd/s1/POWER", "stat/s1/POWER", "ON", "OFF"},
    {"Switch 2", "cmnd/s2/POWER", "stat/s2/POWER", "ON", "OFF"}};

/////////////////// PIN CONFIG OPTIONS ///////////////////

// Touch sensor pins
#define TOUCH_CS 14
#define TOUCH_IRQ 27

// TFT pins
#define TFT_CS 5
#define TFT_DC 4
#define TFT_MOSI 23
#define TFT_CLK 18
#define TFT_RST 22
#define TFT_MISO 19
#define TFT_LED 15

// BME280 pins
#define BME280_SDA 26
#define BME280_SCL 25

// Photoresistor Pin
#define PHOTORESISTOR_PIN 34

/////////////////// MISC CONFIG OPTIONS ///////////////////

// This will be changed when there's time (and a need)
#define WP_VERSION "1.0.0"

#endif
