#ifndef WP_CONFIG_H
#define WP_CONFIG_H

struct MqttSwitch
{
    String switchName;
    String commandTopic;
    String statusTopic;
    String powerOnValue;
    String powerOffValue;
};

/////////////////// MAIN CONFIG OPTIONS ///////////////////

// Time settings
#define NTP_UTC_OFFSET_SECONDS 3600 // UTC+1
#define NTP_DAYLIGHT_OFFSET_SECONDS 3600 // 3600 for DST, 0 otherwise
#define NTP_SERVER_HOSTNAME "pool.ntp.org"

// BME280 Settings
#define SEALEVELPRESSURE_HPA (1013.25)

// WiFi settings
#define WIFI_SSID "wifiname"
#define WIFI_PASSWORD "wifipassword"

// MQTT settings
#define MQTT_SERVER_IP IPAddress(192, 168, 1, 101)
#define MQTT_SERVER_PORT 1883
#define MQTT_USERAME "mqttusername"
#define MQTT_PASSWORD "mqttpassword"
#define MQTT_CONNECT_COOLDOWN 2000
#define MQTT_COMMAND_TOPIC "esp32/command"
#define MQTT_COMMAND_OUTPUT_TOPIC "esp32/command/out"
#define MQTT_TELEMETRY_INTERVAL_MS 5000
#define MQTT_QOS_LEVEL 2

static const MqttSwitch switches[] = {
    {"Switch 1", "cmnd/s1/POWER", "stat/s1/POWER", "ON", "OFF"},
    {"Switch 2", "cmnd/s2/POWER", "stat/s2/POWER", "ON", "OFF"}};

/////////////////// PIN CONFIG OPTIONS ///////////////////

// Touch sensor pins
#define TOUCH_CS 14
#define TOUCH_IRQ 27

// TFT pins
#define TFT_CS 5
#define TFT_DC 4
#define TFT_MOSI 23
#define TFT_CLK 18
#define TFT_RST 22
#define TFT_MISO 19
#define TFT_LED 15

// BME280 pins
#define BME280_SDA 26
#define BME280_SCL 25

// Photoresistor Pin
#define PHOTORESISTOR_PIN 34

/////////////////// MISC CONFIG OPTIONS ///////////////////

// This will be changed when there's time (and a need)
#define WP_VERSION "0.0-pre"

#endif
